#sub {
  background-color: #CC0000;
  color: white;
  border: none;
  padding: .6rem 1rem;
  border-radius: 2px;
  letter-spacing: 0rem;
  margin: 5px;
  transition: background-color .2s;
}

#sub:hover {
  background-color: #DB4C4C;
  cursor: pointer;
}

#join {
  background-color: white;
  border-color: #065FD4;
  color: #065FD4;
  padding: .5rem .9rem;
  border-width: 1px;
  border-radius: 2px;
  margin: 5px;
  transition: background-color .2s, color .2;
}

#join:hover {
  background-color: #065FD4;
  color: white;
  cursor: pointer;
}

#join:active {
  opacity: 0.9;
}

#tweet {
  background-color: #1D9BF0;
  color: white;
  border:none;
  padding: .5rem .8rem;
  border-radius: 45px;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: .1px;
  margin: 5px;
  transition: box-shadow .2s, opacity .2s;
}

#tweet:hover {
  cursor: pointer;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

#tweet:active {
  opacity: 0.9;
}

#rn {
  background-color: black;
  color: white;
  padding: .5rem 1rem;
  border: none;
  margin: 5px;
  font-size: 14px;
}

#rn:hover {
  cursor: pointer;
  background-color: #383939;
}

#atc {
  margin: 5px;
  border: none;
  background-color: #F9D84B;
  color: black;
  padding: .6rem 2rem;
  border-radius: 45px;
  font-size: 14px;
}

#atc:hover {
  cursor: pointer;
  background-color: #FFE782;
}

#su {
  background-color: #55A358;
  color: white;
  margin: 5px;
  padding: .55rem 1rem;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}

#su:hover {
  background-color: #7EB880;
  cursor: pointer;
}

#gs {
  background-color: #7354AD;
  color: white;
  font-weight: bold;
  font-size: 13px;
  margin: 5px;
  border: none;
  padding: .6rem 1rem;
  border-radius: 5px;
}

#gs:hover {
  background-color: #7C66A4;
  cursor: pointer;
}

#d {
  color: #787A7E;
  background-color: white;
  border-color: #787A7E;
  margin: 5px;
  padding: .6rem 1rem;
  border-width: 1px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
}

#d:hover {
  cursor: pointer;
}

#aocw {
  background-color: rgb(10, 102, 194);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 45px;
  padding: .6rem 1.2rem;
  margin: 5px;
  font-size: 15px;
}

#aocw:hover {
  cursor: pointer;
  background-color: #4583E4;
}

#s {
  background-color: white;
  color: #385FA4;
  border-color: #385FA4;
  border-width: 1.5px;
  border-radius: 45px;
  font-size: 16px;
  font-weight: bold;
  margin: 5px;
  padding: .5rem 1rem;
}

#s:hover {
  background-color: #385FA4;
  color: white;
  cursor: pointer;
}